
#project {
    -fx-background-size: 1200 900;
    -fx-background-radius: 5;
    -fx-background-color: #376996;
    -fx-min-width: 200;
    -fx-min-height: 400;
}

#projectName{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-height: 35;
    -fx-font-size: 15;

}
.scroll-pane {
    -fx-background-color: transparent;
}

#button{
    -fx-background-color: transparent;
}

#task{
    -fx-background-radius: 5;
    -fx-min-height: 70;
    -fx-margin: 3,3,3,3;
    -fx-background-color: #CEE5F2;
}

#task-label{
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
    -fx-min-height: 30px;
}