.split-pane-divider {
    -fx-padding: 0 ;
}

.ellipsis {
    /*
    -fx-graphic: url(images/log2.png);
    -fx-graphic-size:16px 16px;

    -fx-graphic: url("/img/hellipsis.png") ;
    -fx-background-size: 64px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    */

}

#project {
    -fx-background-size: 1200 900;
    -fx-background-radius: 5;
    -fx-background-color: #376996;
    -fx-min-width: 150;
    -fx-min-height: 400;
}
